.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen al contenedor */
  object-position: center; /* Centra la imagen */
}
.carousel {
  width: 100%; /* Ancho del carrusel */
  height: 600px; /* Altura del carrusel (ajusta según tus necesidades) */
  overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
}

