<footer class="footer mt-auto py-3 text-white" id="footer-section" style="background-color: #031926;" >
  <div class="" >
    <div class="container" >
      <div class="row">
        <div class="col-md-4">
          <img class="logo d-block mx-auto" src="/assets/fonlogo.png" alt="">
          <h5 style="color: #77aca2;">Sobre Nosotros</h5>
          <p style="color: #f4e9cd;">Somos una empresa dedicada a brindar soluciones tecnológicas con el objetivo de facilitar la vida de nuestros clientes.</p>
        </div>
        <div class="col-md-4">
          <h5 style="color: #77aca2;">Enlaces</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white" style="color: #77aca2;">Inicio</a></li>
            <li><a href="#" class="text-white" style="color: #77aca2;">Servicios</a></li>
            <li><a href="#" class="text-white" style="color: #77aca2;">Contactos</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 style="color: #77aca2;">Síguenos</h5>
          <div class="iconos">
            <img src="/assets/face.png" alt="" >
            <img src="/assets/twitter.png" alt="" >
            <img src="/assets/insta.png" alt="" >
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <p style="color: #f4e9cd;">&copy; 2025 FinClusion. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
