.contenedor {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenedor */
  align-items: center; /* Centra verticalmente sin superponerse al footer */
  min-height: calc(100vh - 350px); /* Ajusta para no superponer footer/header */
  padding: 20px;
}

.container {
  max-width: 900px; /* Ajusta el ancho */
  width: 100%;
}

.accordion-container {
  width: 100%;
}

p {
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
}
