<div class="contendor">
  <div class="container mt-4">
    <h2>{{ datosRecibidos.titulo }}</h2>
    <form [formGroup]="quizForm" (ngSubmit)="verificarRespuestas()">
      <div *ngFor="let pregunta of datosRecibidos.preguntas; let i = index" class="mb-3">
        <h4>{{ pregunta.pregunta }}</h4>
        <div class="form-check" *ngFor="let opcion of pregunta.opciones">
          <input class="form-check-input" type="radio" [formControlName]="'pregunta' + i" [value]="opcion" required>
          <label class="form-check-label">{{ opcion }}</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Verificar Respuestas</button>
    </form>

    <div *ngIf="puntuacion >= 0">
      <h3 class="mt-3">Puntuación: {{ puntuacion }} de {{ datosRecibidos.preguntas.length }}</h3>
    </div>
  </div>
</div>
